@import '../../../assets/common-styles';

:host {
  height: 100vh;
  display: flex;

  .contacts-section {
    width: 25%;
    min-width: 300px;

    .menu-button-and-input-block {
      padding: 10px;
      display: flex;

      .aside-menu-button {
        padding: 0;
        margin-right: 10px;
        border: none;
        cursor: pointer;
        background-color: $te-white;
        color: $te-grey-3;
        display: flex;
        align-items: center;

        .menu-icon {
          width: 22px;
          height: 22px;
          &:hover {
            opacity: 80%;
          }
        }
      }

      .aside-input {
        height: 30px;
        width: calc(100% - 40px);
        padding: 0 0 0 15px;
        background: $te-grey-1;
        font-family: $te-font;
        border-radius: 5px;
        border: none;
        outline: none;
      }
    }

    .contacts-wrapper {
      max-height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
}
