<main class="form-wrapper">
    <h2 class="login-header">
      Log In
    </h2>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
        <input
            class="form-input"
            type="text"
            placeholder="Login"
            formControlName="login"
            maxlength="70">
        <div
          class="validation"
          *ngIf="loginForm.controls.login.invalid && loginForm.controls.login.touched"
        >
          Incorrect login. Please, enter your login again
        </div>
        <div class="password-input-block">
          <input
            class="form-input password"
            [type]="passwordInputType"
            placeholder="Password"
            formControlName="password"
            maxlength="70">
          <div class="icon-wrapper" (click)="changePasswordStatus()">
            <img
              class="eye-toggle-icon"
              alt="password"
              [src]="passwordIconPath"/>
          </div>
        </div>
      <div
        class="validation"
        *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched"
      >
        Password length must be more than {{ passwordLength }} characters
      </div>
        <button class="submit-button" type="submit" >Log In</button>
  </form>
  <a routerLink="/sign-up" class="sign-in-button">Sign Up?</a>
</main>
