// Project colors

$te-grey-1:     rgb(241,241,241);
$te-grey-2:     rgb(229,229,229);
$te-grey-3:     rgb(171,171,171);

$te-white:      rgb(255, 255, 255);
$te-valid:      rgb(0, 128, 0);
$te-red:        rgb(255, 0, 0);
$te-black:      rgb(0, 0, 0);

$te-white-blue: rgb(84,195,243);
$te-blue:       rgb(76,145,199);
$te-lemon:      rgb(239,253,222);

// Project font

$te-font: 'Lato', sans-serif;

// Project font-sizes

$te-font-tiny:    11px;
$te-font-small:   12px;
$te-font-medium:  13px;
$te-font-large:   14px;

// Project images size

$te-small-image:  25px;
$te-medium-image: 42px;
