@import '../../../../assets/common-styles';

:host {
  height: 100vh;
  font-family: $te-font;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .back-button {
    height: 100%;
    width: 60px;
    color: $te-grey-3;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $te-grey-1;
    }
  }

  .form-wrapper {
    width: 350px;

    .login-form {
      display: flex;
      flex-direction: column;

      .login-header {
        margin: 0 0 40px 0;
        text-align: center;
      }

      .login-description {
        color: $te-grey-3;
        text-align-last: center;
        margin-bottom: 16px;
      }

      .form-input {
        height: 50px;
        margin-bottom: 15px;
        padding: 0;
        border: none;
        outline: none;
        border-bottom: 1px solid $te-grey-2;
        font-size: 20px;

        &.password {
          width: calc(100% - 75px);
          margin-right: 10px;
        }
      }

      .password-input-block  {
        display: flex;

        .icon-wrapper {
          height: 50px;
          width: 70px;
          border-bottom: 1px solid $te-grey-2;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:hover {
            opacity: 80%;
          }

          .eye-toggle-icon {
            height: 25px;
            width: 25px;
          }
        }
      }

      .submit-button {
        height: 50px;
        padding: 0;
        margin-top: 40px;
        background-color: $te-white-blue;
        color: $te-white;
        text-transform: uppercase;
        font-family: $te-font;
        font-size: 16px;
        border: none;
        cursor: pointer;
        &:hover {
          opacity: 90%;
        }
      }
    }
  }

  .balance-div {
    width: 60px;
  }
}
